@model IEnumerable<FireFlyFireworks.Models.Chem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChemComp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChemAbbrev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseLocationID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChemComp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemAbbrev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseLocationID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChemID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChemID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
